.projects{
    background:var(--secondary);
}

.project-wrapper{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(430px,1fr));

gap:40px;

margin-top:60px;

}

.project-card{

background:var(--card);

border-radius:22px;

overflow:hidden;

box-shadow:var(--shadow);

transition:.4s;

}

.project-image{

position:relative;

overflow:hidden;

height:260px;

}

.project-image img{

width:100%;

height:100%;

object-fit:cover;

transition:.6s;

}

.project-card:hover img{

transform:scale(1.08);

}

.featured{

position:absolute;

top:20px;

right:20px;

background:#2563eb;

padding:8px 18px;

border-radius:30px;

font-size:.8rem;

font-weight:600;

}

.project-content{

padding:28px;

}

.project-content h3{

font-size:1.5rem;

margin-bottom:18px;

}

.project-content p{

line-height:1.8;

color:var(--text-light);

margin-bottom:25px;

}

.tech-list{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:30px;

}

.tech-list span{

padding:8px 16px;

background:#2563eb22;

border-radius:30px;

color:#60a5fa;

font-size:.85rem;

}

.project-links{

display:flex;

gap:18px;

}

.project-links a{

display:flex;

align-items:center;

gap:8px;

padding:14px 20px;

background:var(--primary);

border-radius:12px;

transition:.3s;

}

.project-links a:last-child{

background:transparent;

border:2px solid var(--primary);

}

.project-links a:hover{

transform:translateY(-4px);

}

@media(max-width:900px){

.project-wrapper{

grid-template-columns:1fr;

}

.project-links{

flex-direction:column;

}

}