.achievements{

background:var(--secondary);

}

.achievement-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.achievement-card{

background:var(--card);

padding:35px;

border-radius:18px;

text-align:center;

transition:.35s;

box-shadow:var(--shadow);

}

.achievement-card:hover{

transform:translateY(-10px);

background:var(--primary);

}

.achievement-card:hover h2,

.achievement-card:hover p{

color:white;

}

.achievement-card h2{

font-size:2.8rem;

color:var(--primary);

margin-bottom:15px;

}

.achievement-card p{

color:var(--text-light);

}