.blob {
  position: fixed;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.35;
  z-index: -1;
  animation: floatBlob 18s infinite ease-in-out;
}

.blob1 {
  width: 320px;
  height: 320px;
  background: #2563eb;
  top: 5%;
  left: -100px;
}

.blob2 {
  width: 280px;
  height: 280px;
  background: #06b6d4;
  right: -80px;
  top: 40%;
}

.blob3 {
  width: 350px;
  height: 350px;
  background: #7c3aed;
  bottom: -100px;
  left: 30%;
}

@keyframes floatBlob {
  0%,100%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-40px);
  }
}